.container {
    padding-left: 20px;
    padding-right: 20px;
}

.avatar {
    margin-right: 20px;
}

.post-header-title {
    display: flex;
    align-items: flex-end;
}

.attachment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attachment-title {
    font-size: 21px;
}

.attachment-preview-container {
    height: 100px;
    width: 100px;
}

.post-content-title {
    font-weight: 500;
}

.cta-row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.fc-white {
    color: #fff;
}