.container {
    margin-top: 50px;
    padding: 0 30px;
    text-align: center;
}

.feature-dev, .forgot-text {
        font-weight: 500;
}

.feature-dev {
    font-size: 25px;
    margin-bottom: 20px;
}

.forgot-text {
    font-size: 18px;
}

.v-form {
    margin-top: 50px;
}

.v-btn {
    background-color: #FE421A !important;
    color: #fff;
    font-size: 20px;
    margin-top: 200px;
}