.container {
    margin-top: 50px;
    padding: 0 30px;
    text-align: center;
}

.feature-dev {
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 20px;
}

.v-form {
    margin-top: 50px;
}

.v-form .password {
    flex-wrap: nowrap !important;
}

.eye {
    margin-top: 16px !important;
    margin-left: 10px !important;
}

.cta-confirm {
    background-color: #EA1C04 !important;
    color: #fff;
}

.v-btn {
    font-size: 20px;
    margin-top: 20px;
}