.container {
    margin-top: 25px;
    padding: 0 30px;
    text-align: center;
}

.container a {
    color: #EA1C04;
    text-decoration: none;
}

.login-form {
    margin-top: 40px;
}

.eye {
    margin-top: 16px !important;
    margin-left: 10px !important;
}

.forgot-password {
    text-align: right;
}

.login {
    background-color: #EA1C04 !important;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
}