.container {
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 0 30px;
    text-align: center;
}

.feature-dev, .forgot-text {
        font-weight: 500;
}

.feature-dev {
    font-size: 25px;
    margin-bottom: 20px;
}

.forgot-text {
    font-size: 18px;
}

.v-form {
    margin-top: 50px;
}

.cta-forgot {
    display: flex;
    flex-direction: column;
    
}

.cta-confirm {
    background-color: #FE421A !important;
    color: #fff;
}

.v-btn {
    font-size: 20px;
    margin-top: 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 450px) {
    .cta-forgot {
        flex-direction: row;
        justify-content: space-around;
        
    }
}