h1 {
    color: white;
    font-size: 27px;
    text-transform: uppercase;
}

.header-home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.v-btn--round .v-btn__content .v-icon {
    color: white;
}