.container {
    margin-bottom: 40px;
}

.header-searchbar {
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 15px;
}

.header-searchbar input:focus {
    outline: none;
}

.header-searchbar input::placeholder {
    color: #FE421A
}

.search {
    border: 1.5px solid #FE421A;
    border-radius: 20px;
    padding: 5px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.moment {
    display: flex;
}

.created-at {
    font-size: 17px;
    font-weight: 500;
    padding: 8px 13px 0 13px;
}

.post-container {
    padding-top: 0;
    padding-bottom: 0;
}

.col-content {
    width: 80%;
}

.post-img {
    width: fit-content;
}

.post-content {
    margin-top: 15px;
}

.avatar {
    margin-top: 0;
    margin-right: 10px !important;
}

.content {
    padding-top: 0;
}

.headline {
    font-size: 20px !important;
}

.icons {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 0;
}

.username {
    font-size: 15px;
}