.form {
    padding: 0 30px;
}

.v-form .password {
    flex-wrap: nowrap !important;
}

.eye {
    margin-top: 16px !important;
    margin-left: 10px !important;
}

.cta {
    margin-top: 20px;
}

.cta-edit {
    background-color: #EA1C04 !important;
    color: #fff;
}

.cta-row {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
    .cta-row {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }
}