.form {
    margin-top: 30px !important;
    padding: 0 30px;
}

.cta-row {
    display: flex;
    flex-direction: column;
}

.cta {
    margin-top: 20px;
}

.cta-edit {
    color: #fff;
}

/* MEDIA QUERIES */
@media screen and (min-width: 450px) {
    .cta-row {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }
}